$black: #1a1a1a;
$white: #f2f2f2;

$accessible-outline: red 3px solid;

$primary: rgb(15, 18, 209);
$contrast-color: $white;

$secondary: rgb(209, 141, 15);
$disabled: rgb(88, 88, 88);

$spacing-one: 4px;
$spacing-two: 8px;
$spacing-three: 16px;
$spacing-four: 24px;
$spacing-five: 32px;
$spacing-six: 64px;

$body-text-small: 12px;
$body-text: 16px;
$heading-small: 32px;
$heading-medium: 48px;
$heading-large: 64px;